            *{  
                margin: 0;
                padding: 0;
                
            }
            body{
                font-family: 'Times New Roman', Times, serif;
                line-height: 1.5;
            }
            a{
                text-decoration: none;
                color: white;
            }
            li{
                list-style: none;
            }
            h1{
                text-align: center;
                font-size: 2rem;
            }

            /* The Header Section */
            .header--section{
                background-color: rgb(63, 62, 62);
                color: whitesmoke;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
                    /* left side */
            .header--section .left{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .header--section .left #navbar {
                display: flex;
                padding: 20px;
            }
            .header--section .left #navbar li{
                /*padding: 10px; */
                padding: 0% 10px;
                justify-content: space-between;

            }
                /* right side */
            .header--section .right{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .header--section .right img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .header--section .right span{
                font-size: 20px;
                font-weight: bold;
                color: blue;
            }

            /* The Body Section */
            section #the_body_part{
                height: 100dvh;
                background-color: rgb(63, 62, 62);
            }

            /* Home Info Section */
            .home_info{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                min-height: 500px;
                padding: 20px;
                background-color: rgb(12, 12, 12);
                color: white;
            }
            .home_info .personal_bio{
                padding: 20px;
                flex: 1 1 320px; 
                order: 2;
            }
            .home_info .personal_bio h1{
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: clamp(1.5rem, 3vw, 2rem);
                margin-bottom: 5px;
            }
            .home_info .personal_bio p{
                padding: 20px;
                font-size: clamp(1.1rem, 2.5vw, 1.5rem);
            }
            .home_info .personal_bio .buttons{
                display: flex;
                gap: 20px;
                padding: 10px;
            }
            .home_info .personal_bio .buttons button{
                background-color: rgb(0, 255, 76);
                color: black;
                border: none;
                padding: 10px;
                font-size: clamp(10px, 2.1vw, 1.2rem);
                cursor: pointer;
                border-radius: 5px;
            }
            .home_info .personal_image{
                flex: 1 1 280px;
                display: flex;
                justify-content: center;
                align-items: center;
                order: 1;
            }
            .home_info .personal_image img{
                max-width: 100%;
                height: auto;
                max-height: 450px;
                object-fit: cover;
            }